/* You can add global styles to this file, and also import other style files */
body{
  margin : 0;
}

.wrapper{
  width: 100%;
  min-height: 95vh;
  display: flex;
  overflow-x: hidden;
  box-sizing: border-box;
}

.center-content{
  width: 60%;
  background-color: #f6f2ff;
  opacity: 85%;
  backdrop-filter: blur(15px);
  border-radius: 5px;
  padding: 15px;
  height: max-content;
}

.right-content{
  width: 20%;
}

.left-content{
  width: 20%;
}

h3{
  font-weight: normal !important;
  padding-bottom: 10px;
  padding-top: 15px;
  font-style: italic;
}
