<body class="bg-image">
  <div id="wrapper">
    <img src="assets/img/logo_text.png" alt="Travelo logo" id="logo">
    <form>
      <input type="email" class="form-control" name="emailInput" id="emailInput" placeholder="E-mail">

      <input type="password" class="form-control" name="passInput" id="passInput" placeholder="Password">

<!--      TODO: check what type of button it has to be for login-->
      <button type="button" class="btn btn-warning">Log in</button>
    </form>
    <p>Don't have an account? <a href="#">Sign up</a></p>
  </div>
</body>
