<div class="wrapper">
  <div class="left-content">
  </div>

  <div class="center-content">
    <div *ngIf="!loadedGroup" class="lds-grid">
      <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
    </div>

    <div *ngIf="loadedGroup">
      <div class="title-content">
        <div>
          <h2>
            {{loadedGroup.name}}
          </h2>
          <p class="description">{{loadedGroup.description}}</p>
          <p>{{loadedGroup.tripStart | date}} - {{loadedGroup.tripEnd | date}}</p>
        </div>

        <img src="assets/img/sampleTravelGroup.png" alt="cover image" class="img-fluid">
      </div>

      <hr>

      <div class="post-header">
        <h4>Posts:</h4>
        <button type="button" class="btn btn-warning">New post</button>

      </div>
    </div>

  </div>

  <div class="right-content">

  </div>
</div>
