<div class="wrapper">
  <div class="left-content card text-center" style="width: 18rem;">
    <div class="card-header">
      Group members:
    </div>
    <div class="card-body">
      <ul class="list-group">
        <li *ngFor="let user of userDetails" class="list-group-item">{{user.username}}</li>
      </ul>
    </div>
  </div>

  <div class="center-content">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{loadedGroup?.name}}</li>
      </ol>
    </nav>
    <div *ngIf="!loadedGroup" class="lds-grid">
      <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
    </div>

    <div *ngIf="loadedGroup">
      <div class="title-content">
        <div>
          <h2>
            {{loadedGroup.name}}
          </h2>
          <p class="description">{{loadedGroup.description}}</p>
          <p *ngIf="loadedGroup.tripStart != loadedGroup.tripEnd">{{loadedGroup.tripStart | date}} - {{loadedGroup.tripEnd | date}}</p>
          <p *ngIf="loadedGroup.tripStart == loadedGroup.tripEnd">{{loadedGroup.tripStart | date}}</p>
        </div>

        <img *ngIf="loadedGroup.image == ''" src="assets/img/sampleTravelGroup.png" alt="cover image" class="img-fluid">
        <img *ngIf="loadedGroup.image != ''" [src]="loadedGroup.image" alt="cover image" class="img-fluid">
      </div>

      <hr>

      <div class="post-header">
        <h4>Posts:</h4>
        <button *ngIf="!newPostOpened" (click)="onNewPost()" type="button" class="btn btn-success">New post</button>
        <button *ngIf="newPostOpened" (click)="onNewPostCancel()" type="button" class="btn btn-warning">Cancel</button>
      </div>

      <app-new-post *ngIf="newPostOpened"></app-new-post>
      <app-post *ngIf="posts.length > 0"></app-post>
      <h4 *ngIf="posts.length === 0">Looks like there is no posts yet. Create a new one!</h4>
    </div>

  </div>

    <div class="right-content card text-center" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Group code:</h5>
        <p id="code-text" class="card-text">{{loadedGroup?.code}}</p>
      </div>
      <div class="card-footer text-body-secondary">
        Share this code with others so they can join the group
      </div>
  </div>
</div>
