<span *ngIf="planTypeId === 1" class="position-absolute top-0 start-50 translate-middle badge rounded-pill bg-danger">
    Accommodation
</span>

<span *ngIf="planTypeId === 2" class="position-absolute top-0 start-50 translate-middle badge rounded-pill bg-warning">
    Transportation
</span>

<span *ngIf="planTypeId === 3" class="position-absolute top-0 start-50 translate-middle badge rounded-pill bg-info">
    Question
</span>

<span *ngIf="planTypeId === 4" class="position-absolute top-0 start-50 translate-middle badge rounded-pill bg-success">
    Destination
</span>

<span *ngIf="planTypeId === 5" class="position-absolute top-0 start-50 translate-middle badge rounded-pill bg-secondary">
    Other
</span>
