<body class="bg-image">
  <div id="wrapper">
    <img src="assets/img/logo_text.png" alt="Travelo logo" id="logo">
    <form
    [formGroup]="form"
    (ngSubmit)="onSubmit()">
      <div class="same-row">
        <div class="input-with-label">
          <label for="usernameInput" class="form-label">Username:</label>
          <input
            formControlName="username" [ngClass]="{ 'is-invalid': submitted && f['username'].errors }"
            type="text" class="form-control" name="usernameInput" id="usernameInput" placeholder="Your username">

          @if (submitted && f['username'].errors) {
            <div class="invalid-feedback">
              @if (f['username'].errors['required']) {
                <div>Fullname is required</div>
              }
            </div>
          }
        </div>

        <div class="input-with-label">
          <label for="emailInput" class="form-label">E-mail:</label>
          <input
            formControlName="email" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
            type="email" class="form-control" name="emailInput" id="emailInput" placeholder="Your e-mail">

          @if (submitted && f['email'].errors) {
            <div class="invalid-feedback">
              @if (f['email'].errors['required']) {
                <div>Email is required</div>
              }
              @if (f['email'].errors['email']) {
                <div>Email is invalid</div>
              }
            </div>
          }
        </div>
      </div>

      <div class="input-with-label">
        <label for="passInput" class="form-label">Password:</label>
        <input
          formControlName="password" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"
          type="password" class="form-control" name="passInput" id="passInput" placeholder="Create your password">
        @if (submitted && f['password'].errors) {
          <div class="invalid-feedback">
            @if (f['password'].errors['required']) {
              <div>Password is required</div>
            }
            @if (f['password'].errors['minlength']) {
              <div>Password must be at least 5 characters</div>
            }
          </div>
        }
      </div>

      <div class="input-with-label">
        <label for="passConfInput" class="form-label">Confirm password:</label>
        <input
          formControlName="confirmPassword" [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }"
          type="password" class="form-control" name="passConfInput" id="passConfInput" placeholder="Type your password again">
        @if (submitted && f['confirmPassword'].errors) {
          <div class="invalid-feedback">
            @if (f['confirmPassword'].errors['required']) {
              <div>Confirm Password is required</div>
            }
            @if (f['confirmPassword'].errors['matching']) {
              <div>Confirm Password does not match</div>
            }
          </div>
        }
      </div>

      <div class="button-row">
        <button type="submit" class="btn btn-warning">Sign up</button>
        <button type="button" (click)="onReset()" class="btn btn-light">Clear</button>
      </div>
    </form>
    <p>Already have an account? <a routerLink="/login">Log in</a></p>
  </div>
</body>
