<div class="wrapper">
  <div class="left-content">

  </div>
  <div class="center-content">
    <div class="title-content">
      <h1>
        Welcome ((username))!
      </h1>
      <p id="today-date">{{todayDate | date: "d/M/y"}}</p>
    </div>
    <hr>
    <h3>Let's travel somewhere!</h3>
    <div class="new-travel-buttons">
      <a class="big-button" href="#">
        <img src="assets/img/newGroupIcon.png" alt="new group icon">
        <p class="big-button-text">Create a new group</p>
      </a>
      <a class="big-button" href="#">
        <img src="assets/img/existingGroupIcon.png" alt="existing group icon">
        <p class="big-button-text">Join an existing group</p>
      </a>
    </div>
  </div>

  <div class="right-content">

  </div>
</div>
