<div class="wrapper">
  <div class="left-content">

  </div>
  <div class="center-content">
    <div class="title-content">
      <h1>
        Welcome ((username))!
      </h1>
      <p id="today-date">{{todayDate | date: "d/M/y"}}</p>
    </div>
    <hr>

    <h3>Your groups are waiting for you...</h3>
    <hr>

    <h3>Let's travel somewhere new!</h3>
    <div class="new-travel-buttons">
      <a class="big-button" href="#">
        <img src="assets/img/newGroupIcon.png" alt="new group icon">
        <p class="big-button-text">Create a new group</p>
      </a>
      <a class="big-button" href="#">
        <img src="assets/img/existingGroupIcon.png" alt="existing group icon">
        <p class="big-button-text">Join an existing group</p>
      </a>
    </div>
    <hr>

    <h3>Don't know where to go? Explore the map!</h3>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d49137484.36293718!2d21.237971701128586!3d41.26285290836508!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2shr!4v1721387902138!5m2!1sen!2shr" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>

  <div class="right-content">

  </div>
</div>
