<div class="wrapper">
  <div class="left-content">

  </div>
  <div class="center-content">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">New group</li>
      </ol>
    </nav>


    <h1>Create a new group...</h1>
    <hr>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="input-with-label">
        <label for="groupName" class="form-label">Group name*</label>
        <input formControlName = "name" [ngClass]="{ 'is-invalid': submitted && f['name'].errors }"
          type="text" class="form-control" name="groupName" id="groupName" placeholder="Type the name of your group">
      </div>

      <div class="same-row">
        <div class="input-with-label">
          <label for="startDate" class="form-label">Trip start date*</label>
          <input formControlName="tripStart" [ngClass]="{ 'is-invalid': submitted && f['tripStart'].errors }"
            class="form-control" placeholder="yyyy-mm-dd" name="startDate" type="date" id="startDate">
        </div>

        <div class="input-with-label">
          <label for="endDate" class="form-label">Trip end date*</label>
          <input formControlName="tripEnd" [ngClass]="{ 'is-invalid': submitted && f['tripEnd'].errors }"
            class="form-control" placeholder="yyyy-mm-dd" name="endDate" type="date" id="endDate">
        </div>
      </div>

      <div class="input-with-label">
        <label for="groupDescription" class="form-label">Description</label>
        <textarea formControlName="description"
          class="form-control" placeholder="Add a trip description" id="groupDescription" name="groupDescription"></textarea>
      </div>

      <div class="same-row">
        <div class="input-with-label">
          <label for="coverImageUrl" class="form-label">Cover image</label>
          <input formControlName="coverImage" [ngClass]="{ 'is-invalid': submitted && f['coverImage'].errors }"
            type="url" class="form-control" placeholder="Insert cover image URL" id="coverImageUrl" name="coverImageUrl"
          (change)="onUrlChange()">
        </div>
        <div *ngIf="isValidUrl(f['coverImage'].value)">
          <img [src]="f['coverImage'].value" alt="cover image" class="img-fluid">
        </div>

        <div *ngIf="!isValidUrl(f['coverImage'].value) || f['coverImage'].value == ''">
          <img src="assets/img/fallbackImage.png" alt="Fallback image" class="img-fluid">
        </div>
      </div>

      <div class="button-row">
        <button type="submit" class="btn btn-warning">Create</button>
        <button type="reset" class="btn btn-light">Clear</button>
      </div>
    </form>
  </div>

  <div class="right-content">

  </div>
</div>
