<div *ngFor="let post of posts" class="card">
  <div class="card-body">
    <app-card-badge [planTypeId]="post.planTypeId"></app-card-badge>
    <div class="card-header">
      <h6 class="card-subtitle mb-1 text-body-secondary">{{post.posterUsername}}</h6>
      <h6 class="card-subtitle mb-1 text-body-secondary">{{post.createdAt | date}}</h6>
    </div>
    <p class="card-text">{{post.content}}</p>

    <hr>

    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Comments:
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">An item</li>
              <li class="list-group-item">A second item</li>
              <li class="list-group-item">A third item</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
